# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("cities.csv")
cities_df

,Unnamed: 0,City,Temperature,Latitude,Longitude,Cloudiness,Wind_Speed,Humidity
0,0,rikitea,25.04,-23.1203,-134.9692,15,3.09,76
1,1,broome,7.46,42.2506,-75.8330,26,1.79,54
2,2,atar,35.20,20.5169,-13.0499,23,6.59,11
3,3,mudgal,27.31,16.0167,76.4333,50,10.57,47
4,4,bathsheba,29.00,13.2167,-59.5167,40,8.23,54
...,...,...,...,...,...,...,...,...
542,542,zapolyarnyy,1.00,69.4154,30.8136,40,2.06,80
543,543,taltal,19.30,-25.4000,-70.4833,16,1.83,68
544,544,pangnirtung,2.00,66.1451,-65.7125,90,2.06,87
545,545,dipalpur,30.56,30.6709,73.6529,1,2.71,15
546,546,vangaindrano,22.09,-23.3500,47.6000,36,1.57,91

In [3]:
del cities_df['Unnamed: 0']
cities_df

,City,Temperature,Latitude,Longitude,Cloudiness,Wind_Speed,Humidity
0,rikitea,25.04,-23.1203,-134.9692,15,3.09,76
1,broome,7.46,42.2506,-75.8330,26,1.79,54
2,atar,35.20,20.5169,-13.0499,23,6.59,11
3,mudgal,27.31,16.0167,76.4333,50,10.57,47
4,bathsheba,29.00,13.2167,-59.5167,40,8.23,54
...,...,...,...,...,...,...,...
542,zapolyarnyy,1.00,69.4154,30.8136,40,2.06,80
543,taltal,19.30,-25.4000,-70.4833,16,1.83,68
544,pangnirtung,2.00,66.1451,-65.7125,90,2.06,87
545,dipalpur,30.56,30.6709,73.6529,1,2.71,15
546,vangaindrano,22.09,-23.3500,47.6000,36,1.57,91

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key) 

# Use the Lat and Lng as locations and Humidity as the weight
locations = cities_df[["Latitude", "Longitude"]]
humidity = cities_df["Humidity"]

In [12]:
# Add Heatmap layer to map
fig = gmaps.figure(center = (20,0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,  max_intensity=100, point_radius=2, dissipating=False)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure